USE [master]
GO
/****** Object:  Database [WebServices]    Script Date: 21/03/2016 9:40:47 AM ******/
CREATE DATABASE [WebServices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebServices', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WebServices.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebServices_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WebServices_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebServices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebServices]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [bigint] IDENTITY(1203,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Laptop]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[price] [bigint] NOT NULL,
	[icon] [nvarchar](max) NOT NULL,
	[slide] [nvarchar](max) NOT NULL,
	[images] [nvarchar](max) NOT NULL,
	[CPU_Manf] [nvarchar](max) NOT NULL,
	[CPU_Tech] [nvarchar](max) NOT NULL,
	[CPU_Type] [nvarchar](max) NOT NULL,
	[CPU_Speed] [nvarchar](max) NOT NULL,
	[CPU_Cache] [nvarchar](max) NOT NULL,
	[CPU_MaxSpeed] [nvarchar](max) NOT NULL,
	[MainBoard_Chipset] [nvarchar](max) NOT NULL,
	[MainBoard_Bus] [nvarchar](max) NOT NULL,
	[MainBoard_SupporRam] [nvarchar](max) NOT NULL,
	[Storage_Type] [nvarchar](max) NOT NULL,
	[Storage_RAM] [nvarchar](max) NOT NULL,
	[Storage_Bus] [nvarchar](max) NOT NULL,
	[HardDisk_Type] [nvarchar](max) NOT NULL,
	[HardDisk_Capacity] [nvarchar](max) NOT NULL,
	[screenSize] [nvarchar](max) NOT NULL,
	[screenResolution] [nvarchar](max) NOT NULL,
	[screenTech] [nvarchar](max) NOT NULL,
	[touchScreen] [nvarchar](max) NOT NULL,
	[Graphics_Chipset] [nvarchar](max) NOT NULL,
	[Graphics_Capacity] [nvarchar](max) NOT NULL,
	[Graphics_Design] [nvarchar](max) NOT NULL,
	[Audio_Channels] [nvarchar](max) NOT NULL,
	[Audio_Other] [nvarchar](max) NOT NULL,
	[CD] [nvarchar](max) NOT NULL,
	[CD_Type] [nvarchar](max) NOT NULL,
	[Interfaces] [nvarchar](max) NOT NULL,
	[Interfaces_Other] [nvarchar](max) NOT NULL,
	[LAN] [nvarchar](max) NOT NULL,
	[Wifi] [nvarchar](max) NOT NULL,
	[Network_Other] [nvarchar](max) NOT NULL,
	[CardReader_Support] [nvarchar](max) NOT NULL,
	[CardReader_Other] [nvarchar](max) NOT NULL,
	[Webcam_Resolution] [nvarchar](max) NOT NULL,
	[Webcam_Other] [nvarchar](max) NOT NULL,
	[Battery] [nvarchar](max) NOT NULL,
	[OS] [nvarchar](max) NOT NULL,
	[dimensions] [nvarchar](max) NOT NULL,
	[weight] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Laptop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductsID] [nvarchar](50) NOT NULL,
	[Prices] [bigint] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [real] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1238,1) NOT NULL,
	[CustomerID] [bigint] NOT NULL,
	[OrderDate] [varchar](50) NOT NULL,
	[RequriedDate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Orders_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[icon] [nvarchar](max) NOT NULL,
	[slide] [nvarchar](max) NOT NULL,
	[images] [nvarchar](max) NOT NULL,
	[price] [bigint] NOT NULL,
	[manuf] [nvarchar](max) NOT NULL,
	[descImg] [nvarchar](max) NOT NULL,
	[screenTech] [nvarchar](max) NOT NULL,
	[screenResolution] [nvarchar](max) NOT NULL,
	[screenSize] [nvarchar](max) NOT NULL,
	[touchScreen] [nvarchar](max) NOT NULL,
	[glassTouch] [nvarchar](max) NOT NULL,
	[CameraBehind_primary] [nvarchar](max) NOT NULL,
	[CameraBehind_film] [nvarchar](max) NOT NULL,
	[CameraBehind_Flash] [nvarchar](max) NOT NULL,
	[CameraBehind_Advanced] [nvarchar](max) NOT NULL,
	[CameraFront_primary] [nvarchar](max) NOT NULL,
	[CameraFront_film] [nvarchar](max) NOT NULL,
	[CameraFront_VideoCall] [nvarchar](max) NOT NULL,
	[CameraFront_Other] [nvarchar](max) NOT NULL,
	[OS] [nvarchar](max) NOT NULL,
	[Chipset] [nvarchar](max) NOT NULL,
	[NumCore] [nvarchar](max) NOT NULL,
	[Speed] [nvarchar](max) NOT NULL,
	[GPU] [nvarchar](max) NOT NULL,
	[RAM] [nvarchar](max) NOT NULL,
	[ROM] [nvarchar](max) NOT NULL,
	[availability] [nvarchar](max) NOT NULL,
	[memoryCard] [nvarchar](max) NOT NULL,
	[MaximumSupport] [nvarchar](max) NOT NULL,
	[TwoG] [nvarchar](max) NOT NULL,
	[ThreeG] [nvarchar](max) NOT NULL,
	[FourG] [nvarchar](max) NOT NULL,
	[NumSIM] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Wifi] [nvarchar](max) NOT NULL,
	[GPS] [nvarchar](max) NOT NULL,
	[Bluetooth] [nvarchar](max) NOT NULL,
	[NFC] [nvarchar](max) NOT NULL,
	[Charger] [nvarchar](max) NOT NULL,
	[audioJack] [nvarchar](max) NOT NULL,
	[Connection_Other] [nvarchar](max) NOT NULL,
	[Design_Type] [nvarchar](max) NOT NULL,
	[Material] [nvarchar](max) NOT NULL,
	[dimensions] [nvarchar](max) NOT NULL,
	[weight] [nvarchar](max) NOT NULL,
	[Capacity] [nvarchar](max) NOT NULL,
	[Battery_Type] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[CategoryID] [nvarchar](50) NOT NULL,
	[ProductID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories_1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tablet]    Script Date: 21/03/2016 9:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablet](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[icon] [nvarchar](max) NOT NULL,
	[slide] [nvarchar](max) NOT NULL,
	[images] [nvarchar](max) NOT NULL,
	[price] [bigint] NOT NULL,
	[manuf] [nvarchar](max) NOT NULL,
	[descImg] [nvarchar](max) NOT NULL,
	[screenTech] [nvarchar](max) NOT NULL,
	[screenResolution] [nvarchar](max) NOT NULL,
	[screenSize] [nvarchar](max) NOT NULL,
	[touchScreen] [nvarchar](max) NOT NULL,
	[CameraBehind] [nvarchar](max) NOT NULL,
	[film] [nvarchar](max) NOT NULL,
	[Advanced] [nvarchar](max) NOT NULL,
	[CameraFront] [nvarchar](max) NOT NULL,
	[OS] [nvarchar](max) NOT NULL,
	[Chipset] [nvarchar](max) NOT NULL,
	[NumCore] [nvarchar](max) NOT NULL,
	[Speed] [nvarchar](max) NOT NULL,
	[GPU] [nvarchar](max) NOT NULL,
	[RAM] [nvarchar](max) NOT NULL,
	[ROM] [nvarchar](max) NOT NULL,
	[availability] [nvarchar](max) NOT NULL,
	[memoryCard] [nvarchar](max) NOT NULL,
	[MaximumSupport] [nvarchar](max) NOT NULL,
	[ThreeG] [nvarchar](max) NOT NULL,
	[FourG] [nvarchar](max) NOT NULL,
	[SIM] [nvarchar](max) NOT NULL,
	[Wifi] [nvarchar](max) NOT NULL,
	[GPS] [nvarchar](max) NOT NULL,
	[Bluetooth] [nvarchar](max) NOT NULL,
	[USB] [nvarchar](max) NOT NULL,
	[HDMI] [nvarchar](max) NOT NULL,
	[audioJack] [nvarchar](max) NOT NULL,
	[Connection_Other] [nvarchar](max) NOT NULL,
	[dimensions] [nvarchar](max) NOT NULL,
	[weight] [nvarchar](max) NOT NULL,
	[Capacity] [nvarchar](max) NOT NULL,
	[Battery_Type] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [Email], [Password], [FullName], [SDT], [Address]) VALUES (1235, N'aladin1266@gmail.com', N'd29591994efa1712b44fdfa05d3630f7a03edd67c48418574fef0dc113287', N'Phan Trần Hồng Phúc', N'936127004', N'304/50/16 Bùi Đình Túy, P12, Quận Bình Thạnh, TPHCM')
INSERT [dbo].[Customer] ([CustomerID], [Email], [Password], [FullName], [SDT], [Address]) VALUES (1237, N'abc@gmail.com', N'bda2783362d189cf1e9b93ee37f6efe69e86a2288125f9611553a1a1fc9ec5', N'Phan Trần Hồng Phúc', N'936127004', N'304/50/16 Bùi Đình Túy, P12, Quận Bình Thạnh, TPHCM')
INSERT [dbo].[Customer] ([CustomerID], [Email], [Password], [FullName], [SDT], [Address]) VALUES (1238, N'phucpth@student.ptithcm.edu.vn', N'9a307c23fe6143dca31323750d462a615634b2d6841ce6e3e3aafe7c330f8e', N'Phan Trần Hồng Phúc', N'909080812', N'304/50/16 Bùi Đình Túy, P12, Quận Bình Thạnh, TPHCM')
SET IDENTITY_INSERT [dbo].[Customer] OFF
INSERT [dbo].[OrderDetails] ([OrderID], [ProductsID], [Prices], [Quantity], [Discount]) VALUES (1238, N'asus-zenbook-ux305fa', 18190000, 1, 0)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductsID], [Prices], [Quantity], [Discount]) VALUES (1238, N'zenfone-2-laser-zẹ00kg', 3690000, 1, 0)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductsID], [Prices], [Quantity], [Discount]) VALUES (1240, N'galaxy-a7', 7990000, 10, 0)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [RequriedDate]) VALUES (1238, 1235, N'Mar 20 2016  5:03PM', N'Mar 21 2016  5:03PM')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [RequriedDate]) VALUES (1240, 1235, N'19/03/16 12:00:00', N'20/03/16 12:00:00')
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [RequriedDate]) VALUES (1241, 1235, N'19/03/16 12:00:00', N'20/03/16 12:00:00')
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[Products] ([CategoryID], [ProductID]) VALUES (N'Tablet', N'acer-iconia-b1')
INSERT [dbo].[Products] ([CategoryID], [ProductID]) VALUES (N'Laptop', N'asus-f454la-i3-4005u')
INSERT [dbo].[Products] ([CategoryID], [ProductID]) VALUES (N'Tablet', N'asus-t200ta')
/****** Object:  Index [UQ__Orders__C3905BAED3214C48]    Script Date: 21/03/2016 9:40:47 AM ******/
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [UQ__Orders__C3905BAED3214C48] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_Phone]    Script Date: 21/03/2016 9:40:47 AM ******/
ALTER TABLE [dbo].[Phone] ADD  CONSTRAINT [PK_Phone] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_Tablet]    Script Date: 21/03/2016 9:40:47 AM ******/
ALTER TABLE [dbo].[Tablet] ADD  CONSTRAINT [PK_Tablet] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Customer]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Products]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductsID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
USE [master]
GO
