* {
    margin: 0;
    padding: 0;
}

.ItemDetail md-content {
    overflow: hidden;
}

.ItemDetail .md-button {
    width: 100%;
}

.ItemDetail .ROWTOP {
    margin-top: 20px;
    margin-bottom: 0;
}

.ItemDetail .NAMEROW {
    border-bottom: 1px solid #e5e5e5;
    margin-top: 0;
    margin-bottom: 10px;
}

.ItemDetail .NAMEROW .name {
    color: #333;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.3em;
}
.ItemDetail .INFOROW{
    height: 396px;
    width: 1170px;
}
.ItemDetail .INFOROW .ICONBLOCK {
    height: 396px;
    /*border: 1px solid #ddd;*/
}

.ItemDetail .INFOROW .INFOBLOCK {
    height: 396px;
    /*border: 1px solid #ddd;*/
}

.ItemDetail .INFOROW .price {
    display: block;
    color: #d0021b;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 6px;
}

.ItemDetail .INFOROW .Info {
    display: block;
    color: #27ae60;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
}

.ItemDetail .INFOROW .ICON {
    padding-left: 30px;
}

.ItemDetail .INFOROW .detailpromotion {
    display: block;
    overflow: hidden;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    position: relative;
    margin: 15px 0 10px;
}

.ItemDetail .INFOROW .detailpromotion span {
    display: block;
    margin-left: 5px;
    overflow: hidden;
    color: #2c3e50;
    font-size: 13px;
    font-weight: 200;
    line-height: 2.3em;
}

.ItemDetail .INFOROW .detailpromotion span li {
    margin-left: 10px;
}

.ItemDetail .INFOROW .Infocomes {
    display: block;
    overflow: hidden;
}

.ItemDetail .INFOROW .Infocomes li {
    display: block;
    overflow: hidden;
    padding-bottom: 20px;
    color: #545454;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.3em;
}

.ItemDetail .INFOROW .Infocomes li a {
    color: #288ad6;
}

.ItemDetail .DETAILROW {
    margin-top: 0;
    margin-bottom: 20px;
}

.ItemDetail .DETAILROW h2 {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3em;
}

.ItemDetail .DETAILROW .carousel-control.right {
    background: none !important;
}

.ItemDetail .DETAILROW .carousel-control.left {
    background: none !important;
}

.ItemDetail .DETAILROW .carousel-indicators {
    left: 90%;
}

.ItemDetail .DETAILROW .carousel-indicators li {
    background: #e5e5e5;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.ItemDetail .DETAILROW .carousel-indicators .active {
    background: #ff8400;
    height: 15px;
    width: 15px;
}

.ItemDetail .DETAILROW md-pagination-wrapper {
    width: 600px !important;
}

.ItemDetail .DETAILROW .parameter {
    float: right;
    overflow: visible;
    margin: 20px 0;
}

.ItemDetail .DETAILROW .parameter h2 {
    margin: 0;
}

.ItemDetail .DETAILROW .parameter ul {
    display: block;
    position: relative;
    overflow: hidden;
}

.ItemDetail .DETAILROW .parameter li div {
    vertical-align: top;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3em;
}

.ItemDetail .DETAILROW .IMGDetail .row {
    height: 400px;
}

.ItemDetail .DETAILROW .IMGDetail h2 {
    margin-left: 20px;
}

.ItemDetail .DETAILROW .IMGDetail .itemIMG {
    margin-bottom: 10px;
}

.ItemDetail .DETAILROW .IMGDetail .carousel-control {
    border: none !important;
    width: 0;
    margin-right: 10px;
    margin-left: 10px;
}

.ItemDetail .DETAILROW legend {
    margin-top: 20px;
}

.ItemDetail .DETAILROW .areaCmt {
    padding: 15px;
    max-width: 100%;
    width: 100%;
    height: 135px;
    resize: none;
    font-size: 15px;
    font-weight: lighter;
}

.ItemDetail .DETAILROW .btnCmt {
    width: 10%;
    float: right;
}

.ItemDetail .DETAILROW .nameCmt {
    margin-left: 10px;
    font-size: 18px;
    font-family: Sans-Serif;
}

.ItemDetail .DETAILROW .preCmt {
    margin-left: 60px;
    font-weight: lighter;
    font-size: 15px;
}

.ItemDetail .DETAILROW .exBtnCmt {
    font-size: 12px;
    color: #1F5ECC;
    margin-left: 5.5%;
}

.ItemDetail .DETAILROW .exBtnCmt button {
    background: none;
    border: none;
    font-weight: lighter;
    padding: 0 .7% 0 .3%;
}

.ItemDetail .DETAILROW .exBtnCmt button:first-child,
.ItemDetail .DETAILROW .exBtnCmt button:nth-child(2) {
    border-right: solid 1px gray;
}

.ItemDetail .DETAILROW fieldset {
    margin-bottom: 1%;
}

.ItemDetail .DETAILROW .exBtnRep {
    font-size: 12px;
    color: #1F5ECC;
    margin-left: 5.5%;
}

.ItemDetail .DETAILROW .exBtnRep button {
    background: none;
    border: none;
    font-weight: lighter;
    margin-left: 3.7%;
}

.ItemDetail .DETAILROW .replyCmt {
    display: block;
    margin-top: 1%;
    margin-left: 5.5%;
}

.ItemDetail .DETAILROW .imgRep {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5.5%;
}

.ItemDetail .DETAILROW .nameRep {
    margin-left: 1%;
    font-size: 18px;
    font-family: Sans-Serif;
}

.ItemDetail .DETAILROW .preRep {
    margin-left: 9.3%;
    font-weight: lighter;
    font-size: 15px;
}

.modal-header {
    background: #3f51b5;
    color: rgba(255, 255, 255, 0.87);
}

.modal-body li {
    display: table;
    list-style-type: none;
    border-bottom: 1px solid #dadada;
}

.modal-body .row {
    width: 90%;
    margin-left: 20px;
}

.modal-body span {
    display: block;
    padding: 6px 5px;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.3em;
}

.modal-body .HEADER {
    display: block;
    background: #f2f2f2;
    color: #c0392b;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 8px;
}
md-input-container{
    margin: 10px 0;
}
.modal-body .Order span{
    color: white;
    font-weight: bold;
    font-size: 20px;    
}

.ListCart{
    padding-left: 0;
    margin-bottom: 20px;    
}
.ListItemCart{
    position: relative;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
    width: 98%;
}
.CARTBLOCK{
    height: 396px;
    border: 1px solid #ddd;
}