* {
    margin: 0;
    padding: 0;
}

#HEADER>.container{
    width: 100%;
}
.icon-menu{
    text-align: center;
}
/* common and top level styles */
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
/*Duong ke ngang. gach chan navbar*/
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
/*Duong ke ngang. gach chan navbar*/
#nav {
    background-color: white;
    border-bottom: 2px solid purple;
    float: left;
    position: relative;
    width: 100%;
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    margin-top: 5px;
    width: 96%;
}
#submenu{
    float: right;
}
#nav>#menu>li , #nav #submenu>li, #nav>#menu>#dropdown>li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    cursor: pointer !important;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#leftNav{
    margin-bottom: 20px;
    margin-top: 20px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.icon-menu{
    text-align: center;
}
.txt-menu{
    text-align: center;
    color: #666666;
    cursor: pointer;
}
.firstRow{
    margin-top: 20px;
}
.btn{
    height: 40px;
    margin-left: 20px;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
/*Chia khoang tung vung */
#nav>#menu > li > a, #nav #submenu>li>a, #nav>#menu>#dropdown>li {
    color: #666666;
    display: block;
    font-size: 15px;
    line-height: 20px;
    padding: 0 15px;
    text-transform: uppercase;
}
#buttonMenu > a{
    font-size: 25px !important;

}
/*doi mau vung */
#nav >#menu> li:hover > a, #nav >#menu> a:hover ,#nav #submenu> li:hover > a, #nav #submenu> a:hover {
    border-bottom: purple solid 3px;
    color: purple;
}
#nav >#menu>#dropdown> li:hover > a, #nav >#menu>#dropdown> a:hover{
    border-bottom: purple dotted 1px ;
    color: purple;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}


/* submenu */
.subs{
    z-index: 1000;
    margin-left: 20px !important;
}
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
    font-size: 15px;
}
#nav ul.subs > li a {
    color: #3b3b3b;
    font-size: 14px;
    line-height: 20px;
}
#nav ul li a:hover {
    color: darkblue;
    font-size: 120%;
}
.border{
    border: 1px double;
    margin-bottom: 10px; 
}
#nav ul.subs > li > a {
    font-size: 15px;
    text-transform: uppercase;
    color: #f36f20;
    font-weight: bold;
    margin-bottom: 5px;
}
#nav ul.subs > li li {
    margin-left: 10px;
    padding-left: 8px;
    border-bottom: 1px dotted;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}
#menu{
    display: none;
}
label{
    margin-bottom: 0 !important;
}
#input-0{
    background-color: white;
}
/* responsive rules */
@media all and (max-width : 850px) {
    #leftNav{
        display: none !important;
    }
    .txt-menu{
        text-align: left;
    }
    #menu{
        display: block;
    }
    #nav >#menu> li,#nav>#menu>#dropdown>li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs {
        display: none;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
    #submenu{
        display: none;
    }
}