@mixin FONT($size, $weight, $lineHeight, $color) {
    font: {
        size: $size;
        weight: $weight;
    }
    line-height: $lineHeight;
    color: $color;
}

.sale {
    .modal-body {
        .row {
            margin-top: 20px;
            h4 {
                @include FONT(20px, bold, 1em, #4c4c4c);
                padding: 0;
            }
            .price {
                @include FONT(16px, bold, 1em, #ea0101);
            }
        }
		.col-xs-12,.col-sm-12,.col-md-6,.col-lg-6{
			padding-left: 0;
		}
    }
}
