<div class="container">
    <div class="row SLIDE">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 leftPANEL">
            <div class="slider">
                <a class="arrow prev" ng-click="vm.nextSlide()"></a>
                <a class="arrow next" ng-click="vm.prevSlide()"></a>
                <img ng-repeat="slide in vm.slides" class="slide slide-animation nonDraggableImage" ng-swipe-right="vm.nextSlide()" ng-swipe-left="vm.prevSlide()" ng-hide="!vm.isCurrentSlideIndex($index)" ng-src="{{slide.image}}" height="100%" width="100%">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 rightPANEL" style="">
            <nav class="nav">
                <ul class="dots">
                    <a ng-repeat="slide in vm.slides" class="wrap">
                        <li class="dot" ng-class="{'active':vm.isCurrentSlideIndex($index)}" ng-click="vm.setCurrentSlideIndex($index);">
                            {{slide.description}}</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" style="margin-top: -5px">
        <div ng-cloak class="demo-grid">
            <md-grid-list md-cols-xs="1" md-cols-sm="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="15px" md-gutter-sm="25px" md-gutter-gt-sm="30px">
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Item/Phone"><h2>ĐIỆN THOẠI</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="vm.showPhoneImage($index)" class="white" ng-repeat="phone in vm.phones | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="vm.hide[$index]" ng-mouseenter="vm.hidePhoneImage($index)">
                        <a class="phoneDetail" href="#/Phone/{{phone.ID}">
                            <img ng-src="{{phone.icon}}" style="height: 250px; width:250px">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="vm.show[$index]">
                        <a href="#/Item/Phone/{{phone.ID}}">
                            <h3>{{phone.Name | uppercase}}</h3>
                            <strong class="price">{{phone.price | currency:"":0 | comma2dot}} VNĐ</strong>
                            <div></div>
                            <span><strong>Màn hình:</strong> {{phone.screenSize}}"</span>
                            <span><strong>HĐH:</strong> {{phone.OS}}</span>
                            <span><strong>CPU:</strong> {{phone.CPU}}, RAM: {{phone.RAM}}</span>
                            <span><strong>Camera:</strong> {{phone.CameraBehind_primary}}</span>
                            <span><strong>Pin:</strong> {{phone.Capacity}}</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="vm.showPhoneImage($index)">
                        <a href="#/Item/Phone/{{phone.ID}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{phone.Name | uppercase}}</h3>
                        <h4>{{phone.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Item/Laptop"><h2>LAPTOP</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="vm.showPhoneImage($index+3)" class="white" ng-repeat="laptop in vm.Laptops | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="vm.hide[$index+3]" ng-mouseenter="vm.hidePhoneImage($index+3)">
                        <a class="phoneDetail" href="#/Laptop/{{laptop.ID}}">
                            <img style="height: 250px" ng-src="{{laptop.icon}}">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="vm.show[$index+3]">
                        <a href="#/Item/Laptop/{{laptop.ID}}">
                            <h3>{{laptop.Name | uppercase}}</h3>
                            <strong class="price">{{laptop.price | currency:"":0 | comma2dot}} VNĐ</strong>
                            <div></div>
                            <span style="display: block"><strong>Màn hình:</strong> {{laptop.screenResolution}}, {{laptop.screenSize}}" </span>
                            <span style="display: block"><strong>CPU:</strong> {{laptop.CPU_Tech}}</span>
                            <span style="display: block"><strong>RAM:</strong> {{laptop.Storage_RAM}}/{{laptop.HardDisk_Capacity}}</span>
                            <span style="display: block"><strong>VGA:</strong> {{laptop.Graphics_Chipset}}</span>
                            <span style="display: block"><strong>HĐH:</strong> {{laptop.OS}}</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="vm.showPhoneImage($index+3)">
                        <a href="#/Item/Laptop/{{laptop.ID}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{laptop.Name | uppercase}}</h3>
                        <h4>{{laptop.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile class="mobile" md-gutter="0" md-colspan-gt-md="6" md-colspan-sm="2" md-colspan-xs="1" md-rowspan="1">
                    <md-grid-tile-footer class="mainHeader">
                        <a href="#/Item/Tablet"><h2>MÁY TÍNH BẢNG</h2></a>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile ng-mouseleave="vm.showPhoneImage($index+6)" class="white" ng-repeat="tablet in vm.tablets | limitTo:3" md-colspan-gt-md="2" md-colspan="1" md-rowspan="2" md-rowspan-sm="1">
                    <div ng-style="vm.hide[$index+6]" ng-mouseenter="vm.hidePhoneImage($index+6)">
                        <a class="phoneDetail" href="#/Tablet/{{tablet.ID}}">
                            <img style="height: 250px" ng-src="{{tablet.icon}}">
                        </a>
                    </div>
                    <div class="itemHidden" ng-style="vm.show[$index+6]">
                        <a href="#/Item/Tablet/{{tablet.ID}}">
                            <h3>{{tablet.Name | uppercase}}</h3>
                            <strong class="price">{{tablet.price | currency:"":0 | comma2dot}} VNĐ</strong>
                            <div></div>
                            <span><strong>Màn hình:</strong> {{tablet.screenResolution}}, {{tablet.screenSize}}" </span>
                            <span><strong>HĐH:</strong> {{tablet.OS}} - <strong>CPU:</strong> {{tablet.CPU}}</span>
                            <span><strong>RAM:</strong> {{tablet.RAM}} - <strong>ROM:</strong> {{tablet.ROM}}</span>
                            <span><strong>CAMERA:</strong> {{tablet.CameraBehind}}</span>
                            <span><strong>Kết nối:</strong> Wifi, 3G, Bluetooth</span>
                        </a>
                    </div>
                    <md-grid-tile-footer class="phoneFooter" ng-mouseenter="vm.showPhoneImage($index+6)">
                        <a href="#/Item/Tablet/{{tablet.ID}}">
                            <button class="button button--aylen button--round-l button--text-thick">MUA NGAY</button>
                        </a>
                        <h3>{{tablet.Name | uppercase}}</h3>
                        <h4>{{tablet.price | currency:"":0 | comma2dot}} VNĐ</h4>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>
</div>
