<div class="container ItemDetail">
    <div class="row ROWTOP">
        <a href="#">Trang chủ</a>
        <span>></span>
        <a href="#/Item/{{vm.type}}">{{vm.type}}</a>
        <span>></span>
        <a href="#/Item/{{vm.type}}">{{vm.Item.manuf | uppercase}}</a>
    </div>
    <div class="row NAMEROW">
        <h1 class="name">{{vm.Item.Name}}</h1>
    </div>
    <div class="row INFOROW">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ICONBLOCK">
        	<div class="row ICON">
            	<img src="{{vm.Item.icon}}" alt="" height="300px">
            </div>            
            <div class="row">
            	<md-content>
					<md-button class="md-raised md-warn" ng-click="vm.AddToCart(vm.Item)"><strong>Thêm vào giỏ hàng<strong></md-button>
        		</md-content>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 INFOBLOCK">
            <p class="price">{{vm.Item.price| currency:"":0 | comma2dot}} VNĐ</p>
            <label class="Info">Quà khuyến mãi</label>
            <div class="vmpromotion">
                <span>* Cơ hội trúng xe Mercedes, với "Lộc xuân POSEIDON"</span>
                <span>* Cơ hội trúng 10 TV LED 40" mỗi ngày (đến 15/01)</span>
                <span>* Khách hàng chọn 1 trong 2 ưu đãi:
					<li>Trả góp 0% với <a href="">HomeCredit</a></li>
					<li>Tặng tai nghe Bluetooth Samsung Level U</li>
				</span>
            </div>
            <ul class="Infocomes">
                <li>
                    <div class="col-lg-1">
                        <img src="../images/check.png" alt="" height="13px">
                    </div>
                    <div class="col-lg-11">
                        Bộ sản phẩm gồm:
                        <a href="#">
						Hộp, Sạc, Tai nghe, Sách hướng dẫn, Cáp, Cây lấy sim
					</a>
                    </div>
                </li>
                <li>
                    <div class="col-lg-1">
                        <img src="../images/check.png" alt="" height="13px">
                    </div>
                    <div class="col-lg-11">
                        Bảo hành chính hãng: thân máy 12 tháng, pin 12 tháng, sạc 12 tháng -
                        <a href="#">
						Xem điểm bảo hành
					</a>
                    </div>
                </li>
                <li>
                    <div class="col-lg-1">
                        <img src="../images/check.png" alt="" height="13px">
                    </div>
                    <div class="col-lg-11">
                        Giao hàng tận nơi miễn phí trong 30 phút.
                        <a href="#">Tìm hiểu</a>
                    </div>
                </li>
                <li>
                    <div class="col-lg-1">
                        <img src="../images/check.png" alt="" height="13px">
                    </div>
                    <div class="col-lg-11">
                        Đổi trả sản phẩm lỗi miễn phí trong 14 ngày.
                        <a href="#">Tìm hiểu</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">        
            <div class="row ">
               <div class="CARTBLOCK">
                    <div class="modal-header">
                        <md-toolbar>
                            <h4 style="color: white; font-weight: bold">SẢN PHẨM TRONG GIỎ HÀNG</h4>
                        </md-toolbar>
                    </div>
                    <div class="modal-body cart"  style="padding: 0" ng-show ="Cart.length > 0">
                       <ul class="ListCart">
                           <li class="ListItemCart row" ng-repeat="item in Cart">                        
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    <img src="{{item.icon}}" alt="" class="IconCart" height="50px">
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7">
                                    <a href="#/Item/{{vm.type}}/{{item.ID}}">{{item.Name}}</a>
                                    <p class="price" style="font-size:15px">{{item.price| currency:"":0 | comma2dot}} VNĐ</p>
                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                    <button type="button" class="btn btn-link" ng-click="vm.RemoveFromCart($index)">x</button>
                                </div>
                           </li>
                       </ul>                       
                    </div>
                    <div ng-show ="(Cart.length == 0) || (Cart == null)">
                        
                    </div>
               </div>                
            </div>
            <div class="row">
                <md-content>
                    <md-button class="md-raised md-primary" ng-click="vm.sale()" ng-disabled ="(Cart.length == 0) || (Cart == null)"><strong>ĐẶT HÀNG<strong></md-button>
                </md-content>
            </div>
        </div>
    </div>
    <div class="row DETAILROW">
        <md-content>
            <md-tabs md-dynamic-height="" md-border-bottom="">
                <md-tab label="Thông số" ng-if="vm.type == 'Phone'">
                    <md-content>
                        <div ng-include="'components/item/detail/Phone/parameter.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Thông số" ng-if="vm.type == 'Tablet'">
                    <md-content>
                        <div ng-include="'components/item/detail/Tablet/parameter.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Thông số" ng-if="vm.type == 'Laptop'">
                    <md-content>
                        <div ng-include="'components/item/detail/Laptop/parameter.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Hình ảnh ({{vm.Item.images.length}})">
                    <md-content>
                        <div ng-include="'components/item/detail/image.html'" scope="" onload=""></div>
                    </md-content>
                </md-tab>
                <md-tab label="Phụ kiện ({{vm.PK.length}})">
                    <md-content>
                        <div ng-include="'components/item/detail/phu-kien.html'" scope="" onload=""></div>
                    </md-content>
                </md-tab>
                <md-tab label="Bình Luận ({{vm.Comment.length}})">
                    <md-content>
                        <div ng-include="'components/item/detail/comment.html'" scope="" onload=""></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
        
    </div>
</div>
