<div class="sale">
    <div class="modal-header">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>ĐẶT HÀNG ONLINE</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="saleCtrl.cancel()">
                    <md-icon md-svg-src="images/Close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <img ng-src="{{saleCtrl.Item.icon}}" alt="" height="200px">
                </div>
                <div class="row">
                    <h4>{{saleCtrl.Item.name | uppercase}}</h4>
                    <p class="price">{{saleCtrl.Item.price | currency:"":0 | comma2dot}} VNĐ</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <md-content>
                    <form name="SaleForm">
                        <md-input-container class="md-block">
                            <label for="name">Họ tên người nhận</label>
                            <input type="text" id="name" name="name" ng-model="saleCtrl.name" required/>
                            <span ng-show="SaleForm.name.$error.required && SaleForm.name.$dirty" style="color:red">required</span>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="phone">Số điện thoại người nhận</label>
                            <input type="number" id="phone" name="phone" ng-model="saleCtrl.phone" required/>
                            <span ng-show="SaleForm.phone.$error.required && SaleForm.phone.$dirty" style="color:red">required</span>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="address">Địa chỉ nhận hàng</label>
                            <input type="text" id="address" name="address" ng-model="saleCtrl.address" required/>
                            <span ng-show="SaleForm.address.$error.required && SaleForm.address.$dirty" style="color:red">required</span>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label for="email">Email để nhận thông tin</label>
                            <input type="email" id="email" name="email" ng-model="saleCtrl.Email" required/>
                            <span ng-show="SaleForm.email.$error.required && SaleForm.email.$dirty">required</span>
                            <span ng-show="!SaleForm.email.$error.required && SaleForm.email.$error.email && SaleForm.email.$dirty">invalid email</span>
                        </md-input-container>
                        <button type="submit" class="btn btn-primary" ng-disabled="SaleForm.$invalid" ng-click="saleCtrl.Order()">Đặt hàng</button>
                    </form>
                </md-content>
            </div>
        </div>
    </div>
</div>
