<div class="sale">
    <div class="modal-header">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SỬA THÔNG TIN KHÁCH HÀNG</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="images/Close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div> <!-- End div modal-header -->

    <div class="modal-body Order">
        <div class="row">
            <md-content layout-padding >  
                <form name="SaleForm">  
                    <div layout-gt-sm="row">                    
                        <md-input-container class="md-block" flex-gt-xs>
                            <label for="name">Họ tên khách hàng</label>
                            <input type="text" id="name" name="name" ng-model="vm.name" required/>
                            <span ng-show="SaleForm.name.$error.required && SaleForm.name.$dirty" style="color:red">required</span>
                        </md-input-container>
                        <div flex="5" hide-xs hide-sm>
                          <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label for="phone">Số điện thoại</label>
                            <input type="text" id="phone" name="phone" ng-model="vm.phone" required/>
                            <span ng-show="SaleForm.phone.$error.required && SaleForm.phone.$dirty" style="color:red">required</span>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label for="email">Email</label>
                            <input type="email" id="email" ng-disabled="true" name="email" ng-model="vm.Email" required/>
                            <span ng-show="SaleForm.email.$error.required && SaleForm.email.$dirty">required</span>
                            <span ng-show="!SaleForm.email.$error.required && SaleForm.email.$error.emai&& SaleForm.email.$dirty">invalid email</span>
                        </md-input-container>
                        
                        <div flex="5" hide-xs hide-sm>
                          <!-- Spacer //-->
                        </div>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label for="address">Mật khẩu</label>
                            <input type="password" id="address" ng-disabled="true" name="address" ng-model="vm.Password" required/>
                            <span ng-show="SaleForm.address.$error.required && SaleForm.address.$dirty" style="color:red">required</span>
                        </md-input-container> 
                    </div>
                    <div layout-gt-sm="row">          
                        <md-input-container class="md-block" flex-gt-xs>
                            <label for="address">Địa chỉ khách hàng</label>
                            <input type="text" id="address" name="address" ng-model="vm.address" required/>
                            <span ng-show="SaleForm.address.$error.required && SaleForm.address.$dirty" style="color:red">required</span>
                        </md-input-container>                    
                        <div flex="5" hide-xs hide-sm>
                          <!-- Spacer //-->
                        </div>
                        <md-content>
                            <md-button class="md-warn md-raised md-hue-2" ng-click="vm.Update()" ng-disabled="SaleForm.$invalid">
                                <strong>Cập nhật</strong>
                            </md-button>
                        </md-content>                          
                    </div>
                    <md-content>
                        <md-button class="md-raised md-primary md-hue-2" href="#/InfoOrder"
                        ng-click="vm.Close()">
                            <strong>Xem các đơn đặt hàng</strong>
                        </md-button>
                    </md-content>                    
                </form>
            </md-content>
        </div>   
        <!-- <div class="row CARTBLOCK" >
            <div class="cart"  style="padding: 0" ng-show ="Cart.length > 0">
               <ul class="ListCart">
                   <li class="ListItemCart row" ng-repeat="item in Cart">                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="border-right: 1px dotted black; text-align: center">
                            <img src="{{item.icon}}" alt="" class="IconCart" height="70p">
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7"style="border-right: 1px dotted black">
                            <h4 style="">{{item.Name}}</h4>
                            <p class="price" style="font-size:20px">{{item.price| currency:"":0 | comma2dot}} VNĐ</p>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <button type="button" class="btn btn-link" ng-click="vm.RemoveFromCart($index)">x</button>
                        </div>
                   </li>
               </ul>                       
            </div>
        </div>      -->   
    </div> <!-- End div modal-body -->
</div>
