<div class="modal-header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Register Form</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="register.cancel()">
                <md-icon md-svg-src="images/Close.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div class="modal-body">
    <md-content layout-padding>
        <form name="registerForm">
            <md-input-container class="md-block">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" ng-model="register.Email" required/>
                <span ng-show="registerForm.email.$error.required && registerForm.email.$dirty">required</span>
                <span ng-show="!registerForm.email.$error.required && registerForm.email.$error.email && registerForm.email.$dirty" style="color:red">invalid email</span>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="email">Name</label>
                <input type="text" id="name" name="name" ng-model="register.name" required/>
                <span ng-show="registerForm.name.$error.required && registerForm.name.$dirty" style="color:red">required</span>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" ng-model="register.Pass" ng-minlength="8" ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required />
                <span ng-show="registerForm.password.$error.required && registerForm.password.$dirty" style="color:red">required</span>
                <span ng-show="!registerForm.password.$error.required && (registerForm.password.$error.minlength || registerForm.password.$error.maxlength) && registerForm.password.$dirty" style="color:blue">Passwords must be between 8 and 20 characters.</span>
                <span ng-show="!registerForm.password.$error.required && !registerForm.password.$error.minlength && !registerForm.password.$error.maxlength && registerForm.password.$error.pattern && registerForm.password.$dirty" style="color:red">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="RePass">Confirm Password</label>
                <input type="password" id="RePass" name="RePass" ng-model="register.RePass" valid-password-c required ng-keyup="register.compare($event)"/>
                <span ng-show="registerForm.RePass.$error.required && registerForm.RePass.$dirty">Please confirm your password.</span>
                <span ng-show = "register.show" style="color:red">Password not match</span>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="Address">Address</label>
                <input type="text" id="Address" name="Address" ng-model="register.Address" required/>
                <span ng-show="registerForm.Address.$error.required && registerForm.Address.$dirty" style="color:red">required</span>
            </md-input-container>
            <md-input-container class="md-block">
                <label for="Phone">Phone</label>
                <input type="number" id="Phone" name="Phone" ng-maxlength="11" ng-minlength="10"ng-model="register.Phone" required/>
                <span ng-show="registerForm.Phone.$error.required && registration.phone.$dirty" style="color:red">required</span>
                <span ng-show="((registration.phone.$error.minlength || registration.phone.$error.maxlength) && registration.phone.$dirty) ">phone number should be 10 digits</span>
            </md-input-container>
            <button type="submit" class="btn" ng-show="(registerForm.$valid && (register.isconfirm == true))" ng-click="register.Register()">Register</button>
        </form>
    </md-content>
</div>
