<ul id="submenu">
    <li>
        <a class="row" href="#/Item/Phone">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/Mobile.png" alt="" height="29px">
            </label>
            <md-tooltip md-direction="top">
                Điện thoại di động
            </md-tooltip>
        </a>
        <span id="s1"></span>
        <ul class="subs">
            <li class="MenuSubs">
                <a href="#">Hãng sản xuất</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Apple (iPhone)">Apple (iPhone)</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="OPPO">OPPO</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sony">Sony</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Samsung">Samsung</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Blackberry">Blackberry</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Nokia">Nokia</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="HTC">HTC</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Asus">Asus</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="LG">LG</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Lenovo">Lenovo</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Motorola">Motorola</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Mobiistar">Mobiistar</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Mức giá</a>
                <div class="border"></div>
                <ul>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Dưới 1 triệu">Dưới 1 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 1 - 3 triệu">Từ 1 - 3 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 3 - 6 triệu">Từ 3 - 6 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 6 - 10 triệu">Từ 6 - 10 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Trên 10 triệu">Trên 10 triệu</a></li>
                </ul>
            </li>
            <li>
                <img src="images/img/phone.png" alt="" width="280px" height="200px">
            </li>
        </ul>
    </li>
    <li>
        <a class="row" href="#/Item/Tablet">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/Tablet.png" alt="" height="29px">
            </label>
            <md-tooltip md-direction="top">
                Máy tính bảng
            </md-tooltip>
        </a>
        <span id="s1"></span>
        <ul class="subs">
            <li>
                <a href="#">Hãng sản xuất</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Apple (iPad)">Apple (iPad)</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Samsung">Samsung</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Acer">Acer</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Asus">Asus</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Archos">Archos</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Dell">Dell</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Lenovo">Lenovo</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Masstel">Masstel</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Huawei">Huawei</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Mức giá</a>
                <div class="border"></div>
                <ul>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Dưới 2 triệu">Dưới 2 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 2 - 5 triệu">Từ 2 - 5 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 5 - 8 triệu">Từ 5 - 8 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Trên 8 triệu">Trên 8 triệu</a></li>
                </ul>
            </li>
            <li>
                <img src="images/img/ipad.png" alt="" width="280px" height="230px">
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#/Item/Laptop">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/Laptop.png" alt="" height="29px">
            </label>
            <md-tooltip md-direction="top">
                Máy tính xách tay
            </md-tooltip>
        </a>
        <span id="s1"></span>
        <ul class="subs">
            <li>
                <a href="#">Hãng sản xuất</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Apple (Macbook)">Apple (Macbook)</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Asus">Asus</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Dell">Dell</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="HP">HP</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Lenovo">Lenovo</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Toshiba">Toshiba</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Acer">Acer</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sony Vaio">VAIO</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Mức giá</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Dưới 5 triệu">Dưới 5 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 5 - 10 triệu">Từ 5 - 10 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 10 - 15 triệu">Từ 10 - 15 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 15 - 20 triệu">Từ 15 - 20 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 20 - 25 triệu">Từ 20 - 25 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Từ 25 - 30 triệu">Từ 25 - 30 triệu</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Trên 30 triệu">Trên 30 triệu</a></li>
                </ul>
            </li>
            <li>
                <img src="images/img/laptop.png" alt="" width="280px" height="200px">
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#/phu-kien">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/Headphone.png" alt="" height="29px">
            </label>
            <md-tooltip md-direction="top">
                Phụ kiện
            </md-tooltip>
        </a>
        <span id="s1"></span>
        <ul class="subs">
            <li>
                <a href="#"> Phụ kiện Laptop</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Ổ cứng ngoài">Ổ cứng ngoài</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Miếng dán màn hình &amp; Film">Miếng dán màn hình &amp; Film</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Vỏ bảo vệ và ốp ">Vỏ bảo vệ và ốp </a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Tấm phủ bàn phím">Tấm phủ bàn phím</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Phụ kiện khác">Phụ kiện khác</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sạc Laptop">Sạc Laptop</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Loa dàn">Loa dàn</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Tai nghe Laptop">Tai nghe Laptop</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Chuột">Chuột</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="USB">USB</a></li>
                </ul>
            </li>
            <li>
                <a href="#"> Phụ kiện Điện Thoại - Tablet</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Loa">Loa</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Combo phụ kiện">Combo phụ kiện</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Phụ kiện khác ĐT &amp; MTB">Phụ kiện khác ĐT &amp; MTB</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Tai nghe">Tai nghe</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Bao da và ốp lưng">Bao da và ốp lưng</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Thẻ nhớ MicroSD">Thẻ nhớ MicroSD</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sạc và cáp">Sạc và cáp</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sạc dự phòng">Sạc dự phòng</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Dịch vụ</a>
                <div class="border"></div>
                <ul class="row">
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="USB 3G">USB 3G</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Sim">Sim</a></li>
                    <li class="col-xs-5 col-sm-5 col-md-5 col-lg-5"><a href="#" title="Phần mềm">Phần mềm</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#/Location">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/Maps.png" alt="" height="29px">
            </label>
            <md-tooltip md-direction="top">
                Danh sách chi nhánh
            </md-tooltip>
        </a>
    </li>
    <li ng-show="!vm.isLogin">
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/User-Login.png" alt="" height="29px" ng-click="vm.Login()">
            </label>
            <md-tooltip md-direction="top">
                Đăng nhập
            </md-tooltip>
        </a>
    </li>
    <li style="margin-right: 40px" ng-show="!vm.isLogin">
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/User-Add.png" alt="" height="29px" ng-click="vm.register()">
            </label>
            <md-tooltip md-direction="top">
                Đăng ký
            </md-tooltip>
        </a>
    </li>  
    <li style="margin-right: 40px" ng-show="vm.isLogin">
        <a class="dropdown-toggle row" data-toggle="dropdown" href="#">
            <label class="col-lg-12 col-md-12 col-sm-3 col-xs-3 icon-menu">
                <img src="images/{{vm.Avatar}}" alt="" height="29px" ng-click="vm.Logout()">
            </label>
            <md-tooltip md-direction="top">
                Đăng xuất
            </md-tooltip>
        </a>
    </li>   
</ul>
