<div class="container PhoneList" ng-if="vm.type == 'Phone'">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 item" ng-repeat="phone in vm.Items | orderBy: vm.price" ng-mouseleave= "show={display: 'none'}; hide={display: 'block'}">
           
            <div ng-style ="hide" ng-mouseover="show={display: 'block'}; hide={display: 'none'}">
                <p class="imgItem">
                    <a href="#/Item/Phone/{{phone.PhoneID}}">
                        <img src="{{phone.icon}}" alt="{{phone.Name}}" height="120px" height="120px">
                    </a>
                </p>
                <p class="name"><a href="#/Item/Phone/{{phone.PhoneID}}">{{phone.Name | uppercase}}</a></p>
                <p class="price">{{phone.price| currency:"":0 | comma2dot}} VNĐ</p>
            </div>      

            <div class="itemHidden" ng-style="show">
            	<a href="#/Item/Phone/{{phone.PhoneID}}">
	            	<h3>{{phone.Name | uppercase}}</h3>
	            	<strong class="price">{{phone.price}}</strong>
	            	<div></div>
	            	<span><strong>Màn hình:</strong> {{phone.screenSize}}"</span>
	            	<span><strong>HĐH:</strong> {{phone.OS}}</span>
	            	<span><strong>CPU:</strong> {{phone.CPU}}, RAM: {{phone.RAM}}</span>
	            	<span><strong>Camera:</strong> {{phone.CameraBehind_primary}}</span>
	            	<span><strong>Pin:</strong> {{phone.Capacity}}</span>
            	</a>
            </div>
        </div>
    </div>
</div>
<div class="container laptopList" ng-if="vm.type == 'Laptop'">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 itemTab" ng-repeat="laptop in vm.Items | orderBy: vm.price" ng-mouseleave= "show={display: 'none'}; hide={display: 'block'}">
            <p class="imgItem">
                <a href="#/Item/Laptop/{{laptop.LaptopID}}">
                    <img src="{{laptop.icon}}" alt="{{laptop.Name}}" height="180px" height="180px">
                </a>
            </p>
            <p class="name"><a href="#/Item/Laptop/{{laptop.LaptopID}}">{{laptop.Name | uppercase}}</a></p>
            <p class="price">{{laptop.price| currency:"":0 | comma2dot}} VNĐ</p>
            <p><strong>Màn hình:</strong>{{laptop.screenResolution}}, {{laptop.screenSize}}" </p>
            <p><strong>CPU:</strong> {{laptop.CPU_Tech}}</p>
            <p><strong>RAM:</strong> {{laptop.Storage_RAM}}/{{laptop.HardDisk_Capacity}}</p>
            <p><strong>VGA:</strong> {{laptop.Graphics_Chipset}}</p>
            <p><strong>HĐH:</strong> {{laptop.OS}}</p>
        </div>
    </div>
</div>
<div class="container tabletList" ng-if="vm.type == 'Tablet'">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 itemTab" ng-repeat="tablet in vm.Items | orderBy: vm.price">
            <p class="imgItem">
                <a href="#/Item/Tablet/{{tablet.TabletID}}">
                    <img src="{{tablet.icon}}" alt="{{tablet.Name}}" height="180px" height="180px">
                </a>
            </p>
            <p class="name"><a href="#/Item/Tablet/{{tablet.TabletID}}">{{tablet.Name | uppercase}}</a></p>
            <p class="price">{{tablet.price | currency:"":0 | comma2dot}} VNĐ</p>
            <span><strong>Màn hình:</strong> {{tablet.screenResolution}}, {{tablet.screenSize}}" </span>
            <span><strong>HĐH:</strong> {{tablet.OS}} - <strong>CPU:</strong> {{tablet.Chipset}}</span>
            <span><strong>RAM:</strong> {{tablet.RAM}} - <strong>ROM:</strong> {{tablet.ROM}}</span>
            <span><strong>CAMERA:</strong> {{tablet.CameraBehind}}</span>
            <span><strong>Kết nối:</strong> Wifi, 3G, Bluetooth</span>
        </div>
    </div>
</div>