a {
    text-decoration: none !important;
}

@mixin sexy-border($height, $width) {
    height: $height;
    width: $width;
    border: 1px solid #ececec;
    overflow: hidden;
}

@mixin Demension($width) {
    width: $width;
    margin-top: 20px;
}

@mixin GeneralLink($color, $size, $lineHeight, $weight) {
    color: $color;
    line-height: $lineHeight;
    font: {
        size: $size;
        family: OpenSans;
        weight: $weight;
    }
}

@mixin General($height) {
    height: $height;
    overflow: hidden;
    padding-top: 5px;
}

@mixin price() {
    color: #d0021b;
    font-weight: bold;
}
.PhoneList {
    @include Demension(95%);
    .item {
        @include sexy-border(250px, 193px);
        text-align: center;
        margin-bottom: 5px;
        margin-right: 5px;
        .name {
            @include General(40px);
            a {
                @include GeneralLink(black, 14px, 1.3em, bold);
            }
            &:hover a {
                color: #4a90e2;
            }
        }
        .imgItem {
            padding-top: 20px;
            a {
                padding-left: 12px;
            }
        }
        .price {
            @include price();
        }
        .itemHidden {
            text-align: left;
            display: none;
            h3 {
                @include GeneralLink(#288ad6, 14px, 1.3em, bold);
                margin: 5px 10px 5px;
            }
            .price {
                @include price();
                @include GeneralLink(#d0021b, 13px, 1.3em, bold);
                display: inline-block;
                float: none;
                margin: 0 9px 5px;
                margin-right: 5px;
            }
            span {
                @include GeneralLink(#666, 12px, 18px, normal);
                display: block;
                margin: 0 0 0 5px;
                text-decoration: none;
                padding: 2px 6px;
            }
            div {
                padding: 0 0 5px;
                border-bottom: 1px solid #ddd;
                margin-bottom: 5px;
                display: block;
            }
        }
    }
}