a {
    text-decoration: none !important;
}

@mixin sexy-border($height, $width) {
    height: $height;
    width: $width;
    border: 1px solid #ececec;
    overflow: hidden;
}

@mixin Demension($width) {
    width: $width;
    margin-top: 20px;
}

@mixin GeneralLink($color, $size, $lineHeight, $weight) {
    color: $color;
    line-height: $lineHeight;
    font: {
        size: $size;
        family: OpenSans;
        weight: $weight;
    }
}

@mixin General($height, $top) {
    height: $height;
    overflow: hidden;
    padding-top: $top;
}

@mixin price() {
    color: #d0021b;
    font-weight: bold;
}

.PKList{
    @include Demension(95%);
    .item{
        @include sexy-border(270px, 200px);
        margin-right: 5px;
        margin-bottom: 5px;
        .name {
            @include General(30px, 5px);
            overflow: hidden;
            a {
                @include GeneralLink(black, 14px, 1.3em, bold);
            }
            &:hover a {
                color: #4a90e2;
            }
        }
        .imgItem {
            padding-top: 20px;
        }
        .price {
            @include price();
        }
        .info{
            @include General(40px, 0);
        }
    }
}