<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <h2>Đặc điểm nổi bật của {{vm.Item.name}}</h2>
    <uib-carousel interval="3000">
        <uib-slide ng-repeat="slide in vm.Item.slide">
            <img ng-src="{{slide}}" alt="">
        </uib-slide>
    </uib-carousel>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 parameter">
    <h2>Thông số kỹ thuật</h2>
    <ul>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>CPU</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.CPU_Manf}}, {{vm.Item.CPU_Tech}}, {{vm.Item.CPU_Speed}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>RAM</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Storage_Type}}, {{vm.Item.Storage_RAM}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Đĩa cứng</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.HardDisk_Type}}, {{vm.Item.HardDisk_Capacity}}</span>
            </div>
        </li>       
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Màn hình rộng</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.screenSize}}", {{vm.Item.screenResolution}} </span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Cảm ứng</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.touchScreen}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Đồ họa</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Graphics_Chipset}}, {{vm.Item.Graphics_Capacity}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Đĩa quang</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.CD}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Webcam</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Webcam_Resolution}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Cổng giao tiếp</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Interfaces}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Kết nối khác</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Interface_Other}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>PIN/Battert</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Battery}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Trọng lượng</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.weight}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <md-button class="md-raised md-primary" ng-click="vm.ModalOpen()">Xem chi tiết</md-button>
            </div>
        </li>
    </ul>
</div>
