<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <h2>Đặc điểm nổi bật của {{vm.Item.Name}}</h2>
    <uib-carousel interval="3000">
        <uib-slide ng-repeat="slide in vm.Item.slide">
            <img ng-src="{{slide}}" alt="">
        </uib-slide>
    </uib-carousel>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 parameter">
    <h2>Thông số kỹ thuật</h2>
    <ul>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Màn hình:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.screenSize}} inches, {{vm.Item.screenResolution}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Camera sau:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.CameraBehind}}, {{vm.Item.Film}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Camera trước:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.CameraFront}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Hệ điều hành:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.OS}}</span>
            </div>
        </li>        
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>CPU:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.NumCore}}, {{vm.Item.Speed}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>RAM:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.RAM}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Bộ nhớ trong:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.ROM}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Hỗ trợ thẻ nhớ tối đa:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.MaximumSupport}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Số khe SIM:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.SIM}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Dung lượng pin:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Capacity}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-lg-4 col-md-4">
                <strong><span>Kết nối:</span></strong>
            </div>
            <div class="col-lg-8 col-md-8">
                <span>{{vm.Item.Wifi}}</span>
            </div>
        </li>
        <li class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <md-button class="md-raised md-primary" ng-click="vm.ModalOpen()">Xem chi tiết</md-button>
            </div>
        </li>
    </ul>
</div>
